h1 {
  padding: 3rem 0;            /* Khoảng cách trong (trên dưới 3rem, trái phải 0) */
  margin: 0;                  /* Bỏ khoảng cách ngoài */
  color: #fff;                /* Màu chữ trắng */
  text-transform: uppercase;  /* Viết hoa toàn bộ */
  text-align: center;         /* Căn giữa theo chiều ngang */
}

.btn-main {
  background-image: linear-gradient(to right, #d434b0, #8029fc); /* Gradient từ hồng sang tím */
  padding: 0.5rem;              /* Khoảng cách trong 0.5rem */
  display: flex;                /* Dùng flexbox */
  justify-content: center;      /* Căn giữa ngang */
  align-items: center;          /* Căn giữa dọc */
  border-radius: 6px;           /* Bo góc 6px */
  cursor: pointer;              /* Khi hover đổi thành bàn tay */
}

.main {
  font-family: "Montserrat", serif;  /* Font chữ Montserrat, fallback serif */
  font-optical-sizing: auto;         /* Tối ưu hiển thị font chữ */
  font-style: normal;                 /* Kiểu chữ bình thường (không nghiêng) */
}

.wrapper-cart{
    background-image: linear-gradient(to right, #d434b0, #8029fc);
    height: calc(100vh - 70px);
}

.group-cart{
  width: 75%;
  background: #fff;
  margin: auto;
  padding: 2rem;
  border-radius: 4px;
}

.header-cart{
  display: flex;
  padding: 1rem;
  background: #e2e2e2;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.col-1{
  flex: 1;
}
.col-2{
  flex: 1.5;
}
.col-3{
  flex: 1;
}
.col-4{
  flex: 0.5;
}

.body-cart{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.row-cart{
  display: flex ;
  align-items: center;
  justify-content: center;
}

.btn-main img{
  filter: brightness(0) invert(1);
}